<div id="car-details-container" class="container-fluid no-gutters">
    <div class="row">
        <div class="col-md">
            <div><label class="paragraph title">Name</label></div>
            <div><label id="name" class="car-detail-value">{{ selectedCar.name }}</label></div>
        </div>
        <div class="col-md">
            <div><label class="paragraph title">Vin</label></div>
            <div><label id="vin" class="car-detail-value">{{ selectedCar.vin }}</label></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <div><label class="paragraph title">Make</label></div>
            <div><label id="make" class="car-detail-value">{{ selectedCar.make }}</label></div>
        </div>
        <div class="col-md">
            <div><label class="paragraph title">Model</label></div>
            <div><label id="model" class="car-detail-value">{{ selectedCar.model }}</label></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <div><label class="paragraph title">Year</label></div>
            <div><label id="year" class="car-detail-value">{{ selectedCar.year }}</label></div>
        </div>
        <div class="col-md">
            <div><label class="paragraph title">Fuel Type</label></div>
            <div><label id="fuelType" class="car-detail-value">{{ selectedCar.fuelType }}</label></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <div><label class="paragraph title">Type</label></div>
            <div><label id="type" class="car-detail-value">{{ selectedCar.type }}</label></div>
        </div>
        <div class="col-md">
            <div><label class="paragraph title">Odometer</label></div>
            <div><label id="odometer" class="car-detail-value">{{ selectedCar.odometer }}</label></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <div><label class="paragraph title">Fuel</label></div>
            <div><label id="fuel" class="car-detail-value">{{ selectedCar.fuel }}</label></div>
        </div>
        <div class="col-md">
            <div><label class="paragraph title">Battery</label></div>
            <div><label id="battery" class="car-detail-value">{{ selectedCar.battery }}</label></div>
        </div>
    </div>
</div>