
#car-details-container {
    margin-top: 5px;
}

.no-gutters {
    margin: 0;
    padding: 0;
  
    > .col,
    > [class*="col-"] {
        padding: 0;
    }
}

.car-detail-value {
    font-size: 18px;
}