@import './../../../../assets/styles/variables.scss';

#no-fleet-message {
    color: $main-font-color;
    font-size: 18px;
    font-weight: bold;
}

#fleet-list {
    padding-top: 10px;
}

.car-row {
    cursor: pointer;
    &:hover {
        background-color: $main-bg-color;
        opacity: 0.8;
        color: white;
    }
}